{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% load tailwind_filters %}
{% block 'extratitle' %}
    {% trans "Sign In" %}
{% endblock  %}
{% block 'accounts' %}

<div class="flex items-center">
    <div>
        <img class="h-screen bg-cover" src="{% static 'img/bg_login.jpg' %}" alt="Background image">
    </div>
    
    <div class="flex flex-1 flex-col items-center">
        <section>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-xl xl:p-0 dark:bg-light-gray dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <div class="space-y-4">
                        <div class="flex items-center gap-2 mb-4">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="w-8 h-8">
                            <h1 class="text-base font-semibold leading-tight tracking-tight text-gray-900 md:text-lg dark:text-white">
                                My Budget Buddy
                            </h1>    
                        </div>
                        <h1 class="text-xl font-semibold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Welcome back
                        </h1>
                        <div class="flex justify-between items-center">
                            <button type="button" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2">
                                <svg class="w-5 h-5 me-2 -ms-1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
                                    <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                                </svg>
                                Sign in with Google
                            </button>
                            <button type="button" class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 me-2 mb-2">
                                <svg class="w-5 h-5 me-2 -ms-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"></path></svg>
                                Sign in with Apple
                            </button>
                        </div>
                        <div class="inline-flex items-center justify-center gap-4 w-full">
                            <hr class="w-full h-px border-gray-300 dark:border-gray-600">
                            <span class="text-gray-500 dark:text-gray-400">or</span>
                            <hr class="w-full h-px border-gray-300 dark:border-gray-600">
                        </div>
                    </div>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <p class="my-4">
                            <a class="text-sm link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                          </p>
                        <button class="btn-primary" type="submit">{% trans "Sign In" %}</button>
                      </form>
                    {% comment %} <form class="space-y-4 md:space-y-6" action="{% url 'account_login' %}" method="POST">{% csrf_token %}
                        <div>
                            <label for="username" class="label">Username</label>
                            <input type="text" name="username" id="username" class="input-field" placeholder="Enter your username" required="">
                        </div>
                        <div>
                            <label for="password" class="label">Password</label>
                            <input type="password" name="password" id="password" placeholder="Enter your password" class="input-field" required="">
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                  <input id="remember" aria-describedby="remember" type="checkbox" class="checkbox">
                                </div>
                                <div class="ml-3 text-sm">
                                  <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                                </div>
                            </div>
                            <a href="{% url 'account_reset_password' %}" class="text-sm link">Forgot password?</a>
                        </div>
                        <button type="submit" class="btn-primary">Sign in</button>
                        <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                            Don’t have an account yet? <a href="{% url 'account_signup' %}" class="link">Sign up</a>
                        </p>
                    </form> {% endcomment %}
                </div>
            </div>

            {% if messages %}
                {% for message in messages %}
                    {% include 'partials/alert.html' %}
                {% endfor %}
            {% endif %}
            
        </section>
    </div>
</div>

{% endblock %}
