{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% load tailwind_filters %}
{% block 'extratitle' %}
    {% trans "Sign In" %}
{% endblock %}
{% block 'accounts' %}

<div class="flex items-center">
    <div>
        <img class="h-screen bg-cover" src="{% static 'img/bg_login.jpg' %}" alt="Background image">
    </div>
    
    <div class="flex flex-1 flex-col items-center">

        {% for message in messages %}
            {% include 'partials/alert.html' %}
        {% endfor %}

        <section>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-light-gray dark:border-gray-700 border">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8 min-w-[500px]">
                    <div class="space-y-4">
                        <div class="flex items-center gap-2 mb-4">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="w-8 h-8">
                            <h1 class="text-base font-semibold leading-tight tracking-tight text-gray-900 md:text-lg dark:text-white">
                                My Budget Buddy
                            </h1>    
                        </div>
                        <h1 class="text-xl font-semibold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Welcome back
                        </h1>
                    </div>
                    <form method="POST" action="{% url 'account_login' %}" class="space-y-4">
                        {% csrf_token %}
                    
                        {% if form.non_field_errors %}        
                        <div id="toast-alert" class="fixed top-0 right-5 flex items-center w-full max-w-fit p-4 mb-4 alert-danger rounded-lg shadow" role="alert">
                            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 alert-danger rounded-lg">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                </svg>
                                <span class="sr-only">Check icon</span>
                            </div>
                            <div class="mx-3 text-sm font-medium">{{ form.non_field_errors }}</div>
                        </div>
                        {% endif %}  
                                          
                        <div>
                            <label for="{{ form.login.id_for_label }}" class="label">
                                {{ form.login.label }}
                            </label>
                            {{ form.login }}
                        </div>
                        
                        <div>
                            <label for="{{ form.password.id_for_label }}" class="label">
                                {{ form.password.label }}
                            </label>
                            {{ form.password }}
                        </div>
                    
                        <div class="space-x-1">
                            {{ form.remember }}
                            {{ form.remember.label_tag }}
                        </div>
                    
                        <button type="submit" class="btn-primary">Sign In</button>

                        <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                            Don’t have an account yet? <a href="{% url 'account_signup' %}" class="link">Sign up</a>
                        </p>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
