{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% block 'extratitle' %}
    {% trans "Signup" %}
{% endblock  %}

{% block 'accounts' %}

<div class="flex items-center">
    <div class="flex flex-1 flex-col items-center">
        <section>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-xl xl:p-0 dark:bg-light-gray dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <div>
                        <div class="flex items-center gap-2 mb-4">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="w-8 h-8">
                            <h1 class="text-base font-semibold leading-tight tracking-tight text-gray-900 md:text-lg dark:text-white">
                                My Budget Buddy
                            </h1>    
                        </div>
                        <h2 class="text-xl font-semibold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-1">
                            Create your Account
                        </h2>
                        <p class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-8">Already have an account? <a href="{% url 'account_login' %}" class="link">Sign in here</a>.</p>
                        <form class="space-y-4 md:space-y-6" action="{% url 'account_signup' %}" method="POST">
                            {% csrf_token %}

                            {% if form.errors %}
                                {% if not form.password1.errors %}            
                                <div id="toast-alert" class="fixed top-0 right-5 flex items-center w-full max-w-fit p-4 mb-4 alert-danger rounded-lg shadow" role="alert">
                                    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 alert-danger rounded-lg">
                                        <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                        </svg>
                                        <span class="sr-only">Danger</span>
                                    </div>
                                    <div class="mx-3 text-sm font-medium">
                                        <ul class="mt-1.5 list-disc list-inside">
                                            {% for error in form.errors.values %}
                                                {{ error }}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                            
                            <div class="w-full">
                                <label for="{{ form.username.id_for_label }}" class="label">
                                    {{ form.username.label }}
                                </label>
                                {{ form.username }}
                            </div>

                            <div class="w-full">
                                <label for="{{ form.email.id_for_label }}" class="label">
                                    {{ form.email.label }}
                                </label>
                                {{ form.email }}
                            </div>

                            <div  class="flex items-center gap-4">
                                <div class="w-full">
                                    <label for="{{ form.password1.id_for_label }}" class="label">
                                        {{ form.password1.label }}
                                    </label>
                                    {{ form.password1 }}  
                                </div>
                                <div class="w-full">
                                    <label for="{{ form.password2.id_for_label }}" class="label">
                                        {{ form.password2.label }}
                                    </label>
                                    {{ form.password2 }}
                                </div>
                            </div>
                            
                            {% if form.password1.errors %}
                            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                                <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                                <span class="sr-only">Danger</span>
                                <div>
                                    <span class="font-medium">Ensure that these requirements are met:</span>
                                    <ul class="mt-1.5 list-disc list-inside">
                                        {% for error in form.password1.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}

                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                  <input id="remember" aria-describedby="remember" type="checkbox" class="checkbox">
                                </div>
                                <div class="ml-3 text-sm">
                                  <label for="remember" class="text-gray-500 dark:text-gray-300">By signing up, you are creating a My Budget Buddy account, and you agree to My Budget Buddy's <a href="#" class="link">Terms of Use</a> and <a href="" class="link">Privacy Policy</a>.</label>
                                </div>
                            </div>
                            <button type="submit" class="btn-primary">Create an account</button>
                        </form>
    
                    </div>
                </div>
            </div>
            
        </section>
    </div>

    <div>
        <img class="h-screen bg-cover" src="{% static 'img/bg_signup.jpg' %}" alt="Background image">
    </div>
</div>

{% endblock %}
