{% load static %}

<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pt-4">
    <div id="alert-box" class="w-full flex items-center p-4 mb-4 {{ message.tags }} border-t-4" role="alert">
        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        
        {% if messages %}
            
        {% for message in messages %}
            <div class="ms-3 text-sm font-medium">
                {{ message }}
            </div>
            <button type="button" class="ms-auto -mx-1.5 -my-1.5 {{ message.tags }} rounded-lg p-1.5 inline-flex items-center justify-center h-8 w-8" data-dismiss-target="#alert-box" aria-label="Close">
                <span class="sr-only">Dismiss</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
        {% endfor %}
                
        {% endif %}
    </div> 
</div>

{% block postloadjs %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}