{% extends 'base.html' %}

{% load static %}

{% block 'title' %}Home{% endblock %}

{% block 'body' %}

<div class="max-w-screen-xl mx-auto min-h-screen ">

    <div class="pt-24 space-x-6 mb-8">
        <div
            class="inline-flex items-center px-6 py-4 text-lg font-bold text-center text-white bg-light-gray rounded-lg">
            € 800,00
            <span
                class="inline-flex items-center justify-center w-4 h-4 ms-4 text-2xl font-black text-accent bg-black rounded-full">
                <i class="fa-solid fa-circle-arrow-up"></i>
            </span>
        </div>


        <div
            class="inline-flex items-center px-6 py-4 text-lg font-bold text-center text-white bg-light-gray rounded-lg">
            € 300,00
            <span
                class="inline-flex items-center justify-center w-4 h-4 ms-4 text-2xl font-black text-red-400 bg-gray-900 rounded-full">
                <i class="fa-solid fa-circle-arrow-down"></i>
            </span>
        </div>

    </div>

    <div class="grid grid-cols-2 gap-8">
        <div class="space-y-10">
            <div class="bg-light-gray rounded-lg p-4">
                <div class="border-l border-l-accent pl-2">
                    <h3 class="text-3xl mb-1">Current balance</h3>
                    <p class="text-base font-thin">€ 800,00</p>
                </div>
                <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
                <div class="mb-6">
                    <h3 class="text-lg mb-4">Your Accounts</h3>
                    <div class="space-y-2">
                        <div class="flex items-center bg-dark-gray py-2 px-4 rounded-md">
                            <div>
                                <img class="rounded-full object-fill w-10 h-10"
                                    src="https://imgs.search.brave.com/HWDrnKDbjP2E46tMAQMzvlnQZKRMpP5Fpp1scTAzMMo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zZWVr/bG9nby5jb20vaW1h/Z2VzL0EvYWliLWFs/bGllZC1pcmlzaC1i/YW5rcy1sb2dvLUVD/RDQxRUJDMDUtc2Vl/a2xvZ28uY29tLnBu/Zw"
                                    alt="">
                            </div>
                            <div class="ms-3 flex-1">
                                <p class="text-base font-thin">AIB Bank</p>
                            </div>
                            <div>
                                <p class="text-base font-thin">€ 800,00</p>
                            </div>
                        </div>

                        <div class="flex items-center bg-dark-gray py-2 px-4 rounded-md">
                            <div>
                                <img class="rounded-full object-fill w-10 h-10"
                                    src="https://www.bankofireland.com/app/uploads/assets/BoI_STACKED_LOGO_POS_RGB.jpg"
                                    alt="">
                            </div>
                            <div class="ms-3 flex-1">
                                <p class="text-base font-thin">Bank of Ireland</p>
                            </div>
                            <div>
                                <p class="text-base font-thin">€ 2300,00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="block w-full px-6 py-4 text-lg font-extrabold text-center text-cyan-950 bg-accent rounded-lg hover:bg-accent-hover"
                    href="">Manage accounts</a>
            </div>

            <div class="bg-light-gray rounded-lg p-4 space-y-4">
                <div class="border-l border-l-accent pl-2">
                    <h3 class="text-3xl mb-1">Planning</h3>
                </div>
                <a class="block w-full px-6 py-4 text-lg font-extrabold text-center text-cyan-950 bg-accent rounded-lg hover:bg-accent-hover"
                    href="">Manage accounts</a>
            </div>
        </div>

        <div>
            <div class="space-y-10">
                <div class="bg-light-gray rounded-lg p-4">
                    <div class="flex justify-between">
                        <div class="border-l border-l-accent pl-2">
                            <h3 class="text-3xl mb-1">Monthly income</h3>
                            <p class="text-base font-thin">€ 800,00</p>
                        </div>
                        <div class="border-r border-r-red-400 pr-2 text-right">
                            <h3 class="text-3xl mb-1">Monthly expenses</h3>
                            <p class="text-base font-thin">€ 1000,00</p>
                        </div>
                    </div>
                    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
                    <div class="mb-6">
                        <h3 class="text-lg mb-1">Balance remaining</h3>
                        <p class="text-base font-semibold text-red-500">€ -200,00</p>
                    </div>
    
                    <a class="block w-full px-6 py-4 text-lg font-extrabold text-center text-cyan-950 bg-accent rounded-lg hover:bg-accent-hover"
                        href="">Budget Manager</a>
                </div>

                <div class="bg-light-gray rounded-lg p-4 space-y-6">
                    <div class="pl-2 space-y-4">
                        <h3 class="text-3xl">Financial balance</h3>

                        <div>
                            <h4 class="text-lg mb-1">Essential spending</h4>
                            <div class="w-full bg-gray-50 rounded-full">
                                <div class="bg-accent text-xs font-medium text-cyan-950 text-center p-2 leading-none rounded-full" style="width: 70%"> 70%</div>
                            </div>
                        </div>

                        <div>
                            <h4 class="text-lg mb-1">Non-essential spending</h4>
                            <div class="w-full bg-gray-50 rounded-full">
                                <div class="bg-accent text-xs font-medium text-cyan-950 text-center p-2 leading-none rounded-full" style="width: 45%"> 45%</div>
                            </div>
                        </div>

                    </div>
                    <a class="block w-full px-6 py-4 text-lg font-extrabold text-center text-cyan-950 bg-accent rounded-lg hover:bg-accent-hover"
                        href="">Manage accounts</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}