{% extends 'base.html' %}

{% load static %}

{% block 'extratitle' %}Home{% endblock %}

{% block 'body' %}

{% if messages %}
    
    {% for message in messages %}
        {% include 'partials/alert.html' %}
    {% endfor %}
        
{% endif %}

<div class="grid grid-cols-2 gap-8 pb-32">
    <div class="col-span-2 pt-24 space-x-6">
        <div
            class="inline-flex items-center px-6 py-4 text-lg font-bold text-center text-white bg-light-gray rounded-lg">
            € {{ total_income }}
            <span
                class="inline-flex items-center justify-center w-4 h-4 ms-4 text-2xl font-black text-accent bg-black rounded-full">
                <i class="fa-solid fa-circle-arrow-up"></i>
            </span>
        </div>


        <div
            class="inline-flex items-center px-6 py-4 text-lg font-bold text-center text-white bg-light-gray rounded-lg">
            € {{ total_expenses }}
            <span
                class="inline-flex items-center justify-center w-4 h-4 ms-4 text-2xl font-black text-red-400 bg-gray-900 rounded-full">
                <i class="fa-solid fa-circle-arrow-down"></i>
            </span>
        </div>

    </div>    
    <div class="space-y-10">
        <div class="card">
            <div class="border-l border-l-accent pl-2">
                <h3 class="title">Current balance</h3>
                <p class="text-base font-thin">€ {{ total_balance }}</p>
            </div>
            <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
            <div class="mb-6">
                <h3 class="text-lg mb-4">Your Accounts</h3>
                {% if banks %}
                {% for bank in banks %}
                
                {% if bank.balance > 0 %}
                <div class="mb-2">
                    <div class="flex items-center bg-dark-gray py-2 px-4 rounded-md">
                        <div>
                            <img class="rounded-full object-fill w-10 h-10"
                                src="{{ bank.logo.url }}"
                                alt="{{ bank.label }} Logo">
                        </div>
                        <div class="ms-3 flex-1">
                            <p class="text-base font-thin">{{ bank.label }}</p>
                        </div>
                        <div>
                            <p class="text-base font-thin">€ {{ bank.balance }}</p>
                        </div>
                    </div>
                </div>

                {% endif %}
                    
                {% endfor %}
                {% endif %}
            </div>

            <a class="btn-primary"
                href="{% url 'manage' %}">Manage accounts</a>
        </div>

        <div class="card space-y-4">
            <div class="border-l border-l-accent pl-2">
                <h3 class="title">My Budgets</h3>                    
            </div>
            <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
            {% if categories %}
                {% for category in categories %}
                    {% if category.get_percentage_per_category != 0 %}                
                    <div>
                        <h4 class="text-lg mb-1">{{ category.name }}</h4>
                        <div class="w-full bg-gray-50 rounded-full">
                            <div class="progress-bar" style="width: {{ category.get_percentage_per_category }}%"> {{ category.get_percentage_per_category|floatformat:0 }}%</div>
                        </div>
                        <span class="block text-sm font-thin text-right mt-2">€ {{ category.get_total_expenses }} of € {{ category.budget|floatformat:0 }} </span>
                    </div>
                    {% endif %}
                {% endfor %}
                    <button type="button" data-modal-target="planningModal" data-modal-toggle="planningModal" data-account-id="{{ categories }}" class="btn-primary">Budget Manager</button>
            {% else %}
            <img src="{% static 'img/illustration.svg' %}" alt="No budgets found" class="w-1/2 mx-auto">
            <p class="text-center">No budgets found</p>
            {% endif %}
        </div>
    </div>

    <div>
        <div class="space-y-10">
            <div class="card">
                <div class="flex justify-between">
                    <div class="border-l border-l-accent pl-2">
                        <h3 class="title">Monthly income</h3>
                        <p class="text-base font-thin">€ {{ total_income }}</p>
                    </div>
                    <div class="border-r border-r-red-400 pr-2 text-right">
                        <h3 class="title">Monthly expenses</h3>
                        <p class="text-base font-thin">€ {{ total_expenses }}</p>
                    </div>
                </div>
                <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
                <div class="mb-6">
                    <h3 class="text-lg mb-1">Balance remaining</h3>
                    <p class="text-base font-semibold {% if remaining_balance < 0 %} text-red-500 {% else %} text-green-500 {% endif %}">€ {{ remaining_balance }}</p>
                </div>

                <a class="btn-primary"
                    href="">Budget Manager</a>
            </div>

            <div class="card space-y-6">
                <div class="space-y-4">
                    <div class="border-l border-l-accent pl-2">
                        <h3 class="title">Financial balance</h3>
                    </div>
                    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
                    <div>
                        <h4 class="text-lg mb-1">Essential spending</h4>
                        <div class="w-full bg-gray-50 rounded-full">
                            <div class="progress-bar" style="width: 70%"> 70%</div>
                        </div>
                        <span class="block text-sm font-thin text-right mt-2">€ 3000,00</span>
                    </div>

                    <div>
                        <h4 class="text-lg mb-1">Non-essential spending</h4>
                        <div class="w-full bg-gray-50 rounded-full">
                            <div class="progress-bar" style="width: 45%"> 45%</div>
                        </div>
                        <span class="block text-sm font-thin text-right mt-2">€ 500,00</span>
                    </div>

                </div>
                <a class="btn-primary"
                    href="">Manage accounts</a>
            </div>

            <div class="card space-y-4">
                <div class="pl-2 space-y-4">
                    <div class="border-l border-l-accent pl-2">
                        <h3 class="title">My bills</h3>
                    </div>
                    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
                    <h4 class="text-lg font-medium">Upcoming bills</h4>
                    {% if bills %}
                    {% for bill in bills %}
                    <div class="flex items-center bg-dark-gray py-2 px-4 rounded-md">
                        <div>
                            <img class="rounded-full object-cover w-10 h-10"
                                src="{% static 'img/bill.png' %}"
                                alt="">
                        </div>
                        <div class="w-full ms-3 flex justify-between items-center">
                            <h4 class="flex-1 text-base font-thin">{{ bill.title }}</h4>
                            <div class="flex items-center gap-4">
                                <p class="text-base font-thin">€ {{ bill.amount|floatformat:0 }}</p>
                                <span class="bg-yellow-100 text-yellow-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-400 border border-yellow-400">
                                    Due date: {{ bill.due_date|date:"d-m-Y" }}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <a class="btn-primary"
                    href="">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/budget.html' %}

{% endblock %}