{% extends 'base.html' %}

{% load static %}

{% block 'body' %}

{% if messages %}
        
    {% for message in messages %}
        {% include 'partials/alert.html' %}
    {% endfor %}
            
{% endif %}

<div class="grid grid-cols-2 gap-28 pb-12">

    <div class="mt-24">
        <h3 class="title">Your Accounts</h3>
        {% if banks %}
        {% for bank in banks %}
        
        {% if bank.balance %}
        <div class="mb-2">
            <div class="flex items-center bg-light-gray py-2 px-4 rounded-md">
                <img class="rounded-full object-fill w-10 h-10 mr-3"
                    src="{{ bank.logo.url }}"
                    alt="{{ bank.label }} Logo">
                <h4 class="flex-1 text-base font-thin">{{ bank.label }}</h4>
                <p class="text-base font-thin mr-8">€ {{ bank.balance }}</p>
                <button type="button" data-modal-target="popup-modal" data-modal-toggle="popup-modal" data-account-id="{{ bank.id }}" class="btn-danger">
                    <i class="w-4 h-4 text-lg font-bold fa-solid fa-xmark"></i>
                    <span class="sr-only">X icon to remove the account</span>
                </button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
        <div class="flex justify-between items-center">
            <h4 class="text-lg font-thin">Total</h4>
            <p class="text-lg font-thin">€ {{ total }}</p>
        </div>
        {% else %}
        <div class="py-40 px-32 mt-10 text-center rounded-md border bg-light-gray border-gray-600 placeholder-gray-400 text-white">
            <i class="w-12 h-12 text-gray-400 font-black text-3xl fa-solid fa-wallet"></i>
            <p class="text-base font-thin">You don't have any accounts yet.</p>
        </div>
        {% endif %}
    </div>

    <div class="mt-24">
        <h3 class="title">Add New Account</h3>
        <form action="{% url 'add_account' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
            <div class="space-y-4">
                <div>
                    <label for="label_account" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Label Account</label>
                    <input type="text" id="label_account" name="label_account" class="input-field" placeholder="Revolut" required />
                </div>
                <div>
                    <label for="bank" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Choose your bank</label>
                    <select id="bank" name="bank" class="mb-4 input-field">
                        <option value="aib">AIB (Allied Irish Banks)</option>
                        <option value="boi">Bank of Ireland</option>
                        <option value="ptsb">Permanent TSB</option>
                        <option value="anpost">An Post Money</option>
                        <option value="revolut">Revolut</option>
                        <option value="n26">N26</option>
                        <option value="cu">Credit Union</option>
                        <option value="other">Other</option>
                    </select>
                
                    <div id="otherBankDiv" class="hidden">
                        <label for="otherBank" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Please specify:</label>
                        <input type="text" id="otherBank" name="otherBank" class="input-field">
                    </div>
                </div>
                <div>
                    <label for="bank_type" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Type</label>
                    <select id="bank_type" name="bank_type" class="mb-4 input-field">
                        <option value="personal">Personal Account</option>
                        <option value="business">Business Entity</option>
                    </select>
                </div>      
                <div class="flex gap-6">
                    <div class="w-full">
                        <label for="balance" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Balance</label>
                        <input type="number" id="balance" name="balance" class="input-field" placeholder="€ 0,00" required />
                    </div>
                    <div class="w-full">
                        <label for="currency" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Currency</label>
                        <select id="currency" name="currency" class="mb-4 input-field">
                            <option value="eur">Euro (€)</option>
                            <option value="usd">US Dollar ($)</option>
                            <option value="gbp">British Pound (£)</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="block mb-2 text-base font-medium text-gray-900 dark:text-white" for="logo">Upload file</label>
                    <input class="block w-full text-base p-2.5 text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-light-gray dark:border-gray-600 dark:placeholder-gray-400" id="logo" name="bank_logo" type="file">
                    <p class="mt-2 text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
                </div>
                <button type="submit" class="btn-primary">Add Account</button>
            </div>
        </form>
    </div>
</div>

<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

<div class="flex justify-between gap-28">
    <div class="w-full mt-24">
        <h3 class="title">New Category</h3>
        <form id="expenseCategoryForm" action="{% url 'add_category' %}" method="POST">
            {% csrf_token %}
            <div class="space-y-4">
                <label for="expenseCategory" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Choose an expense category:</label>
                <select id="expenseCategory" name="category-name" class="input-field">
                    <option value="Rent/Mortgage">Rent/Mortgage</option>
                    <option value="Utilities (Electricity, Water, Gas)">Utilities (Electricity, Water, Gas)</option>
                    <option value="Groceries">Groceries</option>
                    <option value="Transportation (Fuel, Public Transport)">Transportation (Fuel, Public Transport)</option>
                    <option value="Insurance">Insurance</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Education">Education</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Dining Out">Dining Out</option>
                    <option value="Shopping (Clothing, Personal Items)">Shopping (Clothing, Personal Items)</option>
                    <option value="Travel">Travel</option>
                    <option value="Savings & Investments">Savings & Investments</option>
                    <option value="Debt Repayment">Debt Repayment</option>
                    <option value="Charity & Donations">Charity & Donations</option>
                    <option value="other">Other</option>
                </select>

                <div id="otherCategoryDiv" class="hidden">
                    <label for="otherCategory" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Please specify:</label>
                    <input type="text" id="otherCategoryInput" name="other-category" class="input-field">
                </div>

                <div class="flex items-center me-4">
                    <input id="essential-checkbox" type="checkbox" name="is-essential" value="is-essential" class="checkbox">
                    <label for="essential-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is this category essential?</label>
                </div>
                <button type="submit" class="btn-primary">Add Category</button>
            </div>
        </form>
    </div>

    <div class="w-full mt-24">
        <h3 class="text-3xl mb-14">My Categories</h3>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg space-y-4">
            {% if categories %}
            <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-teal-950">
                <thead class="text-xs text-teal-950 uppercase bg-gray-50 dark:bg-accent dark:text-teal-950">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Categories
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Essential
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                       
                    {% for category in categories %}
                        
                    <tr class="border-t dark:bg-light-gray dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ category.name }}
                        </th>
                        <td class="px-6 py-4">
                            {{ category.get_essential_status }}
                        </td>
                        <td class="px-6 py-4">
                            <a href="{% url 'update_category' category.id %}" class="font-sans text-xs text-blue-600 dark:text-blue-500 hover:underline">Change</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="py-4 px-3 text-center rounded-md border bg-light-gray border-gray-600 placeholder-gray-400 text-white">
                <i class="w-12 h-12 text-gray-400 font-black text-3xl fa-solid fa-layer-group"></i>
                <p class="text-base font-thin">You don't have any categories yet.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% include 'partials/modal.html' %}
{% endblock %}