{% extends 'base.html' %}

{% load static %}

{% block 'body' %}


{% if messages %}
    
    {% for message in messages %}
        {% include 'partials/alert.html' %}
    {% endfor %}
        
{% endif %}
    

<section>
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="title">Add your Income and Expenses</h2>
        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
        <form action="{% url 'new_income' %}" method="POST"> {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="w-full">
                    <label for="amount" class="label">Amount</label>
                    <input type="number" name="amount" id="amount" class="input-field" placeholder="Enter the amount" required>
                </div>
                {% if categories %}
                <div class="w-full">
                    <label for="expenseCategory" class="label">Category:</label>
                    <select id="expenseCategory" name="category-name" class="input-field">
                        <option selected>Select the Category</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="w-full">
                    <label for="date" class="label">Date</label>
                    <input type="date" name="date" value="{{ current_date|date:'Y-m-d' }}" id="date" class="input-field">
                </div>
                <div>
                    <label for="bank" class="label">Bank</label>
                    {% if banks %}
                    <select id="bank" name="bank" class="input-field">
                        <option selected>Select the bank</option>
                        {% for bank in banks %}
                        <option value="{{ bank.id }}">{{ bank }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}            
                </div>
                <div class="sm:col-span-2">
                    <label for="description" class="label">Description</label>
                    <textarea id="description" rows="8" name="description" class="input-field resize-none" placeholder="Your description here"></textarea>
                </div>

                <div class="flex">
                    <div class="flex items-center me-4">
                        <input id="income-radio" type="radio" name="type" value="IN" name="income-radio-group" class="w-4 h-4 text-accent bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-acctext-accent dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="income-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Income</label>
                    </div>
                    <div class="flex items-center me-4">
                        <input id="expense-radio" type="radio" name="type" value="EX" name="expebse-radio-group" class="w-4 h-4 text-accent bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-acctext-accent dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="expense-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Expense</label>
                    </div>
                    <div class="flex items-center">
                        <input id="fixed-expense-radio" type="radio" name="type" value="EX" name="fixed-expense-radio-group" class="w-4 h-4 text-accent bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-acctext-accent dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="fixed-expense-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fixed Expense</label>
                    </div>
                </div>

            </div>
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-bold text-center text-teal-950 bg-accent rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-accent-hover">
                Register
            </button>
        </form>
    </div>
  </section>

{% endblock %}